.pd3_Container {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd3_viewbox {
    border: 2px solid #ccc;
    position: relative;
}

.Select_Model {
    position: absolute;
    top: 0;
    left: 0;
}