.Main2_Container {
    color: white;
    width: 100%;
    /* height: 100%; */
    position: relative;
    /* margin-bottom: 100px; */
}

.main2_sectionContainer {
    width: 100%;
    height: auto;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main2_sectionContainer > div {
    height: auto;
}

.main2_mainInfo {
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}
.main2_mainInfo > h1 {
    margin-bottom: 15px;
}

.main2_imglayout {
    width: 40%;
    display: flex;
    justify-content: center;
}

.main2_imgbox {
    width: 460px;
    height: auto;
}
.main2_img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main2_infolayout {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main2_infolayout > * {
    align-self: center;
}
.main2_infolayout > h1 {
    width: 700px;
    height: 50px;
    letter-spacing: 1px;
}
.main2_infolayout > p {
    width: 600px;
    height: 100px;
    line-height: 25px;
}

.main2_footer {
    bottom: 0;
    position: fixed;
}
