.Header_container {
    display: flex;
    height: 50px;
    align-items: center;
}

.Header_Logo {
    margin: 0px 20px 0px 50px;
    font-size: 26px;
}

.Header_Login {
    font-size: 16px;
    margin-left: auto;
    margin-right: 50px;
    font-weight: 800;
}

.black-header {
    color: black;
    border-bottom: 1px solid black !important;
}

.white-header {
    color: white;
    border-bottom: 1px solid white !important;
}

.Header_Logo,
.Header_Category,
.Header_Login {
    color: inherit;
}
