.login_main {
    background-image: url(../../public/login_backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login_main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
