.DimHub_button {
    border: 0px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
}

.blackDIM {
    color: black;
    font-family: Freesentation-9Black;
    border-bottom: 3px solid black;
    margin-right: 2px;
}

.blackHUB {
    color: black;
    font-family: Freesentation-9Black;
    border-top: 3px solid black;
}

.whiteDIM {
    color: white;
    font-family: Freesentation-9Black;
    border-bottom: 3px solid white;
    margin-right: 2px;
}

.whiteHUB {
    color: white;
    font-family: Freesentation-9Black;
    border-top: 3px solid white;
}
