html,
body {
    margin: 0;
    overflow: hidden;
}

.section {
    height: 100vh;
    transition: transform 0.5s ease;
    z-index: 1;
    position: relative;
}

.footer_section {
    height: 100px;
    transition: transform 0.5s ease;
    z-index: 1;
}

#section1 {
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
}

#section2 {
    z-index: 1;
}

#section3 {
    z-index: 1;
}

.main_bg3d {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
