html,
body {
    margin: 0;
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    transition: transform 0.5s ease;
}

#section1 {
    background-color: #f0f0f0;
}

#section2 {
    background-color: #d0e7f9;
}

#section3 {
    background-color: #f9d0d0;
}


footer.show {
    transform: translateY(0);
}