@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}




.DIM1 {
    font-family: Freesentation-9Black;
    border-bottom: inherit;
    margin-right: 20px;
    animation: slideInLeft 2s forwards;
}

.HUB1 {
    font-family: Freesentation-9Black;
    border-top: inherit;
    animation: slideInRight 2s forwards;
}